<h1><%= @artist.name  %></h1>
<hr />
<%= form_for @artist do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :age %>
  <%= f.text_field :age, required: true, autofocus: true %>
  <br />
  <%= f.label :genre %>
  <%= f.text_field :genre, required: true, autofocus: true %>
  <br />
  <br />
  <%= f.submit "Submit" %>
<% end %>