<h1>Artists</h1>


<%= link_to "Add Artist", new_artist_path %> 
<%= link_to "Back", bboards_path  %>

<h3><%= @artists.length === 0 ? "No Artists Added" : "" %></h3>

<ul>
  <%= @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
</ul>