<h1>BILLBOARD MUSIC</h1>

<% @bboards.each do |bboard| %>
  <h1><%= bboard.name %></h1>
  <%= link_to "Show", bboard_path(bboard)%>
  <%= link_to "Edit", edit_bboard_path(bboard) %>
  <%= link_to "Delete", bboard_path(bboard), method: :delete %>
  
<% end %>
<br />
<br />
  <%= link_to "Create a Board", new_bboard_path %>